[submodule "Simulator/ThirdParty/Private/imgui"]
	path = Simulator/ThirdParty/Private/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Simulator/ThirdParty/Private/glm"]
	path = Simulator/ThirdParty/Private/glm
	url = https://github.com/g-truc/glm.git

